body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #acacac;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode button {
    background-color: #f4f4f4;
    color: #333;
}

.dark-mode button:hover {
    background-color: #ddd;
}

#search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
